<div class="panel panel-default">
  <div class="panel-heading">
    <h4>{{contact.name}}</h4>
    <div class="row">
      <span>
        <img src="{{contact.imageUrl}}" alt="{{contact.name}}">
      </span>

      <span class="pull-right btn-toolbar">
        <a class="btn btn-primary">Edit</a>
        <a class="btn btn-danger">Delete</a>
      </span>
    </div>
  </div>

  <div class=" panel-body">
    <div class="row">
      <div class="col-xs-12">
          <p>Email:</p>
          <p>Phone:</p>
      </div>
    </div>

  </div>
