<nav class="navbar">
    <div class="nav-brand">
        <a href="#" class="nav-brand">WeLearn CMS</a>
    </div>
    <div class="collapse">
        <ul class="nav navbar-nav">
            <li><a href="#" >Documents</a></li>
            <li><a href="#" >Messages</a></li>
            <li><a href="#" >Contacts </a></li>
        </ul>
       <ul class="nav navbar-nav">
           <li class="dropdown">
               <a href="#" class="toggle-drop">Users <span class="caret"></span></a>
               <ul class="dropdown-menu">
                    <li><a href="#" class="">Save Data</a></li>
                    <li><a href="#" class="">Fetch Data</a></li>
               </ul>
           </li>
       </ul>
    </div>
</nav>